@use 'appear';
@use 'button';
@use 'text-animation';
@use 'mobile-menu';
@use 'globals' as *;
@use 'image-slide';
@use 'common' as *;

body {
    font-family: 'Kameron', 'Noto Sans JP', sans-serif;
    background-color: $cBlack;
}

#container {
    position: relative;
    z-index: 10;
    background: $cWhite;
    transition: transform 0.5s, box-shadow 0.5s;
      
}

#main-content {
    position: relative;
    z-index: 0;
  }

main {
    background-color: $cBlack;
    position: relative;
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;

    &.triggered {
        background: rgba(58, 55, 55, 0.8);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }

    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        display: none;
        @include mq(lg) {
            display: block;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    &__li {
        margin: 10px;

        @include mq(md) {
            position: relative;
            margin-left: 0;
            margin-right: 30px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                z-index: 100;
                width: 100%;
                height: 0.175rem;
                left: 0;
                bottom: 0;
                background: transparent;
                transform: translateY(5px);
                transition: all 0.2s ease;
            }
            &:hover::after {
                transform: translateY(0);
                background: $cWhite;
            }
        }

        & > a {
            color: $cBlack;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    & .logo {
        font-size: 35px;
        justify-content: center;

        @include mq(md) {
            font-size: 42px;
            justify-content: flex-start;
        }
    }
}

.logo {
    display: flex;
    font-size: 42px;

    &__img {
        width: 0.7em;
        & > img {
            color: transparent;
        }
    }

    &__stay {
        font-weight: bold;
    }
    &__Healthy {
        font-weight: bold;
    }
    &__stay2 {
        color: $cWhite;
    }
    &__hard {
        color: $cWhite;
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: $cBlack;
}

.hero > strong {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
        color: $cWhite;
        display: block;
        width: 100%;
        text-align: center;
    
    @include mq(md) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            font-weight: bold;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }

        @include mq(lg) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 70px;
            font-weight: bold;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }
}

.hero > h2 {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        font-size: 15px;
        color: $cWhite;
        display: block;
        width: 100%;
        text-align: center;

        @include mq(md) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 300%);
            font-size: 25px;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }

        @include mq(lg) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 220%);
            font-size: 60px;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }
}

.hero > video {
        position: absolute; 
          z-index: 1; 
          width: auto;
          height: 105%;
          visibility: visible;
          object-fit: cover;
}
.top-margin {
    width: 100%;
    height: 20px;
    background-color: $cBlack;
    @include mq(md) {
        height: 70px;
    }
}

.home {
    @extend .mb-lg;
    background-color: $cBlack;

    &__inner {
        @extend .flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 60px;
        text-decoration: underline;
    }

    &__img {
        // height: 300px;
        @extend .mb-sm;

        @include mq(md) {
            flex-basis: 47%;
            margin-left: 70px;
        }
        @include mq(lg) {
            // height: 400px;
        }

        & > img {
            opacity: 1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__texts {
        @extend .pb-sm;
        @include mq(md) {
            display: flex;
            align-items: center;
            flex-basis: 40%;
        }
    }

    &__title {
        color: $cWhite;
        font-size: 40px;
    }

    &__sub {
        color: $cWhite;
        font-size: 35px;
        font-weight: bold;
    }

    &__description {
        color: $cWhite;
        font-size: 20px;
        @include mq(lg) {
            margin-bottom: 40px;
        }
    }
}

.work {
    @extend .mb-lg;
    background-color: $cBlack;

    &__inner {
        @extend .flex;
        border-bottom: 5px solid;
        border-color: $cWhite;
        @include mq(md) {
            flex-direction: row-reverse;
        }
    }


    &__img {
        @extend .pb-sm;
        @include mq(md) {
            display: flex;
            align-items: center;
            flex-basis: 48%;
            padding-right: 20px;
        }

        & > img {
            opacity: 1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__texts {
        @extend .pb-sm;
        @include mq(md) {
            display: flex;
            align-items: center;
            flex-basis: 40%;
            padding-right: 20px;
        }
    }

    &__title {
        color: $cWhite;
        font-size: 40px;
        margin-bottom: 60px;
        text-decoration: underline;
    }

    &__sub {
        color: $cWhite;
        font-size: 35px;
        font-weight: bold;
    }

    &__description {
        color: $cWhite;
        font-size: 20px;
        @include mq(lg) {
            margin-bottom: 20px;
        }
    }
}

.supple {
    @extend .content-width;
    background-color: $cBlack;

    &__inner {
        background-color: $cWhite;
        padding: 15px;
        align-items: centers;
        text-align: center;
        @include mq(md) {
            padding: 0 50px;
        }
        @include mq(xl) {
            padding: 0 150px;
        }
    }

    &__item {
        @extend .flex;
        border-bottom: 3px solid;
        border-color: $cBlack;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__img {
        height: 200px;
        width: 200px;
        @include mq(md) {
            flex-basis: 50%;
        }
        & > img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    
    

    &__texts {
        @extend .pb-sm;
        @include mq(md) {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            align-items: center;
        }
    }
     

    &__title1 {
        color:$cWhite;
        font-size: 40px;
        text-align: center;
        margin-bottom: 100px;
    }

    &__title {
        color: red;
        margin-bottom: 10px;
    }

    &__description {
        font-weight: bold;
    }
}

.music {
    background-color: rgb(83, 79, 79);
    height: 100%;
    &__inner {
        background-color: rgb(83, 79, 79);
    }

    &__container {
        @extend .content-width;
        @extend .flex;
        justify-content: space-between;
    }

    &__title {
        color:$cWhite;
        font-size: 40px;
        text-align: center;
        padding-top: 100px;
        margin-bottom: 100px;
        
    }

    &__item {
        @include mq(md) {
            flex-basis: 47%;
        }
        @include mq(lg) {
            flex-basis: 25%;
        }
        @include mq(xl) {
            flex-basis: 20%;
        }
    }

    &__title2 {
        color:$cWhite;
        @extend .mb-sm;
        font-size: 20px;
        font-weight: bold;
    }

    &__img {
        margin-bottom: 5px;
    
        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    &__btn {
        text-align: center;
        flex-basis: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer {
    height: 100%;
    width: 100%;
    background-color: $cWhite;
    padding: 60px 0;
    @extend .content-width;
    z-index: 10;
    

    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__ul {
        @extend .flex;
        list-style: none;
        padding: 0;
    }

    &__li {
        margin: 10px;

        @include mq(md) {
            margin-left: 5px;
            margin-right: 30px;
        }

        & > a {
            color: $cSubTitle;
            text-decoration: none;
        }
    }

    // &__copyright {
    //     // padding-right: 5px;
    // }

    & > .logo {
        justify-content: center;
        padding-bottom: 30px;
    }
}


