$cWhite: white;
@use 'text-animation';

body {
    font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero > strong {
    position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 120px;
        font-weight: bold;
        color: $cWhite;
        display: block;
        width: 100%;
        text-align: center;
}

.hero > h2 {
    position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        font-size: 60px;
        color: $cWhite;
        display: block;
        width: 100%;
        text-align: center;
}

.hero > video {
    position: absolute; 
          z-index: 1; 
          width: auto;
          height: 105%;
          visibility: visible;
          object-fit: cover;
}
