@use 'appear';
@use 'button';
@use 'text-animation';
@use 'mobile-menu';
@use 'globals' as *;
@use 'image-slide';
@use 'common' as *;

body {
    font-family: 'Kameron', 'Noto Sans JP', sans-serif;
    background-color: $cBlack;
}

#container {
    position: relative;
    z-index: 10;
    transition: transform 0.5s, box-shadow 0.5s;
    background: $cWhite;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;

    &.triggered {
        background: rgba(58, 55, 55, 0.8);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }

    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        display: none;
        @include mq(lg) {
            display: block;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    &__li {
        margin: 10px;

        @include mq(md) {
            position: relative;
            margin-left: 0;
            margin-right: 30px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                z-index: 100;
                width: 100%;
                height: 0.175rem;
                left: 0;
                bottom: 0;
                background: transparent;
                transform: translateY(5px);
                transition: all 0.2s ease;
            }
            &:hover::after {
                transform: translateY(0);
                background: $cWhite;
            }
        }

        & > a {
            color: $cBlack;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    & .logo {
        font-size: 35px;
        justify-content: center;

        @include mq(md) {
            font-size: 42px;
            justify-content: flex-start;
        }
    }
}

.logo {
    display: flex;

    &__img {
        width: 0.7em;
    }

    &__stay {
        font-weight: bold;
    }
    &__Healthy {
        font-weight: bold;
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: $cBlack;
}

.hero > strong {
    position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
        color: $cWhite;
        display: block;
        width: 100%;
        text-align: center;
    
    @include mq(md) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            font-weight: bold;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }

        @include mq(lg) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 70px;
            font-weight: bold;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }
}

.hero > h2 {
    position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        font-size: 15px;
        color: $cWhite;
        display: block;
        width: 100%;
        text-align: center;

        @include mq(md) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 300%);
            font-size: 25px;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }

        @include mq(lg) {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 220%);
            font-size: 60px;
            color: $cWhite;
            display: block;
            width: 100%;
            text-align: center;
        }
}

.hero > video {
        position: absolute; 
          z-index: 1; 
          width: auto;
          height: 105%;
          visibility: visible;
          object-fit: cover;
}
.top-margin {
    width: 100%;
    height: 20px;
    background-color: $cBlack;
    @include mq(md) {
        height: 70px;
    }
}

.home {
    @extend .mb-lg;
    background-color: $cBlack;
    // margin-top: 20px;
    &__inner {
        @extend .flex;
        // padding: 15px;

        @include mq(md) {
            // padding: 50px;
            // margin-top: 70px;
        }
        @include mq(lg) {
            // padding: 50px 150px;
        }
    }

    &__img {
        & > img {
            opacity: 1;
        }
    }

    &__texts {
        @include mq(md) {
            display: flex;
            align-items: flex-end;
        }
    }

    &__title {
        color: $cWhite;
        font-size: 40px;
    }

    &__sub {
        color: $cWhite;
        font-size: 35px;
    }

    &__description {
        color: $cWhite;
        font-size: 20px;
    }
}


